body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ccc;
  overflow: hidden;
  background: #000;
}

#msgs {
  height: 450px;
  width:  100%;
  overflow-x: scroll;
  display: block;
  position: relative;
}

#msgs .li {
  display: table;
  width: 100%;
}

#msgs .msg, .msg-o {
  background: rgb(30,30,30);
  margin: 5px 10px;
  border-radius: 7px;
  padding: 16px;
  width: fit-content;
}

#msgs .msg-o {
  float: right;
}

textarea {
  width:  100%;
  background: rgb(20,20,20);
  border: none;
  color: #fff;
  height: 90px;
  border-radius: 7px;
  padding: 11px 14px;
  box-sizing: border-box;
}